/* .div1{
    border: 1px solid red;
    max-width: 200px;
    margin: 0 auto;
    display: inline-flex;
}
.div1:focus{
    border: blue;
}
mark{
    background-color: red;
}
details{
    cursor: pointer;
} */